[Unit]
Description=Swift application stack
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=__DOCKER_HOME__/deploy
Environment=DOCKER_HOST=unix:///run/user/__DOCKER_UID__/docker.sock
ExecStart=/usr/bin/docker compose --env-file __DOCKER_HOME__/deploy/images.env -f __DOCKER_HOME__/deploy/compose.yaml up -d
ExecStop=/usr/bin/docker compose --env-file __DOCKER_HOME__/deploy/images.env -f __DOCKER_HOME__/deploy/compose.yaml down
TimeoutStartSec=0

[Install]
WantedBy=default.target
